*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    height: 100%;
}
body{
    font-size: 1.6rem;
    background-image: linear-gradient(to bottom right, #00FFFF, yellow);
    background-repeat: no-repeat;
    height: 100%;
}
section{
    padding: 7rem 0;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}